<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome here</h1>
            <p class="lead">Here is Chunhua's blog and Heihua's learning website</p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <a href="http://39.97.239.252:80/blogs">
                    <h4>DaJiao's Blogs</h4>
                </a>
                <p>Here is Chunhua's blogs</p>
            </div>

            <div class="col-lg-6">
                <a href="http://39.97.239.252:80/techarea">
                    <h4>Tech's Area</h4>
                </a>
                <p>Technical Area:</p>
                <p><a href="https://github.com/Song2017">
                        GitHub
                    </a>
                </p>
                <p><a href="https://blog.csdn.net/sgs595595">
                        CSDN
                    </a>
                </p>
            </div>
        </div>
        <br>
        <footer class="footer">
            <p>&copy; 2019 sj.onlie.</p>
        </footer>
    </div>
</body>


</html>