[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=song
Group=www-data
WorkingDirectory=/home/git/web-python/wagtail/blogsite
ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/git/web-python/wagtail/blogsite/blogsite.sock blogsite.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target