<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h1>Welcome, {{content}} {{user}}</h1>

    <ul>
        {% for k,v in nums.items %}
        <li> {{forloop.counter}} {{k}} {{v}}</li>
        {% endfor%}
    </ul>
    <hr>
    <ul>
        {% for k,v in nums.items %}
        {% if forloop.counter0|divisibleby:"2"%}
        <li style="background-color: red">{{k}} {{v}}</li>
        {% else %}
        <li style="background-color: yellow">{{k}} {{v}}</li>
        {% endif%}
        {% endfor %}
    </ul>
    <hr>
    <ul>
        {% for k,v in nums.items %}
        <li style='background-color: 
            {{forloop.counter0|divisibleby:"2"|yesno:"red,yellow"}} '>
            {{k}} {{v}}</li>
        {% endfor %}
    </ul>
    <hr>
    <span>{{nums|join:","}}</span>
</body>

</html>